<div *ngFor="let comment of listComment">
  <b>{{comment.user.username}}:</b>
  {{comment.description}}
  <div *ngIf="currentUser">
    <div class="dropdown" *ngIf="comment.user.id == currentUser.id">
      <button class="dropbtn">...</button>
      <div class="dropdown-content">
        <a [routerLink]="['/comment-edit/',comment.id]">chỉnh sửa</a>
        <a [routerLink]="['/comment-delete/',comment.id]">xóa</a>
      </div>
    </div>
  </div>
</div>
<app-create-comment (updateList)="loadCommentList()"></app-create-comment>
