<div *ngFor="let comment of listComment" class="container">
  <div class="float-left">
    <b>{{comment.user.username}}:</b>
    {{comment.description}}
  </div>
  <div *ngIf="currentUser" class="float-right">
    <div class="dropdown" *ngIf="comment.user.id == currentUser.id">
      <button class="dropbtn">...</button>
      <div class="dropdown-content">
        <a [routerLink]="['/comment-edit/',comment.id]">chỉnh sửa</a>
        <a [routerLink]="['/comment-delete/',comment.id]">xóa</a>
      </div>
    </div>
  </div>
  <br>
</div>
<br>
<app-create-comment (updateList)="loadCommentList()"></app-create-comment>
