<div *ngIf="post">
  <div class="container" *ngIf="currentUser; else loggedOut">
    <div class="container" *ngIf="currentUser.id == post.user.id; else NotAuthorized">
      <h1>Chỉnh sửa bài viết</h1>

      <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
        <div>
          <label><b>Tiêu đề</b></label>
          <br>
          <input type="text" value="{{post.title}}" class="form-control" formControlName="title">
          <div class="alert-danger" *ngIf="editForm.get('title').invalid && editForm.get('title').touched"
               style="color: red">
            Title must be at least 1 character!
          </div>
        </div>

        <div>
          <label><b>Nội dung</b></label>
          <br>
          <textarea type="text" value="{{post.content}}" class="form-control" formControlName="content"></textarea>
          <div class="alert-danger" *ngIf="editForm.get('content').invalid && editForm.get('content').touched"
               style="color: red">
            Content must be at least 1 character!
          </div>
        </div>

        <div hidden>
          <label><b>Người viết bài</b></label>
          <br>
          <input readonly type="text" value="{{post.user.username}}" class="form-control" formControlName="user">
        </div>

        <div hidden>
          <label><b>Ngày viết bài</b></label>
          <br>
          <input readonly type="text" value="{{post.date}}" class="form-control" formControlName="date">
        </div>

        <div>
          <label>Trạng thái chia sẻ</label>
          <select formControlName="shareStatus" class="form-control">
            <option value="true">Public</option>
            <option value="false">Private</option>
          </select>
        </div>
        <div>
          <label>Video</label>
          <input type="text" class="form-control" formControlName="video">
        </div>
        <div>
          <label>Hình ảnh</label>
          <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" multiple>
        </div>
        <div class="form-group" style="height: 100px">
          <div *ngIf="previewUrl">
            <div class="float-left" *ngFor="let preview of previewUrl">
              <img [src]="preview" height="100"/><span>x</span>
              <br>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button>Lưu lại</button>
        </div>
      </form>
    </div>

    <ng-template #NotAuthorized>
      Bạn không có quyền chỉnh sửa bài viết này
    </ng-template>

  </div>

  <ng-template #loggedOut>
    Hãy đăng nhập.
  </ng-template>
</div>
