<div class="container" *ngIf="currentUser; else loggedOut">
  <h1>Create a new post</h1>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

    <div>
      <input type="hidden" formControlName="user" class="form-control" value="{{currentUser.username}}">
    </div>

    <div>
      <label><b>Title</b>
        <input placeholder="Post's title" type="text" formControlName="title" class="form-control"
               style="width: 1100px">
      </label>
    </div>

    <div>
      <label><b>Content</b>
        <textarea placeholder="Post's content" type="text" formControlName="content" class="form-control"
                  style="width: 1100px; height: 300px"></textarea>
      </label>
    </div>
    <!--    <div>-->
    <!--      <label>Date release</label>-->
    <!--      <input placeholder="Date" type="date" formControlName="date" class="form-control">-->
    <!--    </div>-->

    <div>
      <label>Choose post's share status</label>
      <select formControlName="shareStatus" class="form-control">
        <option value="true">Public</option>
        <option value="false">Private</option>
      </select>
    </div>

    <div class="form-group">
      <label>Picture</label>
      <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" multiple>
    </div>
    <div class="form-group" style="height: 100px">
      <div class="image-preview" *ngIf="previewUrl">
        <div class="float-left" *ngFor="let preview of previewUrl">
          <img [src]="preview" height="100px"/><span>x</span>
        </div>
      </div>
    </div>

    <br>
    <div>
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </form>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
