<div *ngIf="post">
  <div class="container" *ngIf="currentUser; else loggedOut">
    <div class="container" *ngIf="currentUser.id == post.user.id; else NotAuthorized">
      <h1>Xoa post</h1>
      <form (ngSubmit)="onSubmit()" [formGroup]="deleteForm">
        <div>
          <label><b>Tiêu Đề</b></label>
          <br>
          <input readonly type="text" value="{{post.title}}" class="form-control" formControlName="title">
        </div>
        <div>
          <label><b>Nội dung</b></label>
          <br>
          <textarea readonly type="text" value="{{post.content}}" class="form-control"
                    formControlName="content"></textarea>
        </div>
        <div hidden>
          <label><b>Người đăng</b></label>
          <br>
          <input readonly type="text" value="{{post.user.username}}" class="form-control" formControlName="user">
        </div>
        <div hidden>
          <label><b>Ngày đăng</b></label>
          <br>
          <input readonly type="text" value="{{post.date}}" class="form-control" formControlName="date">
        </div>
        <div hidden>
          <label>Trạng thái</label>
          <input readonly type="text" value="{{post.shareStatus}}" formControlName="shareStatus">
        </div>
        <button>Xóa bài viết</button>
      </form>
    </div>

    <ng-template #NotAuthorized>
    Bạn không có quyền xóa bài viết này
    </ng-template>

  </div>

  <ng-template #loggedOut>
    Please Login.
  </ng-template>
</div>
