<div *ngIf="post" class="container">
  <h1>Chi tiết bài viết</h1>
  <div>
    <label><b>Tiêu Đề</b></label>
    <br>
    <input disabled type="text" value="{{post.title}}" class="form-control">
  </div>
  <div>
    <label><b>Nội dung</b></label>
    <br>
    <textarea disabled value="{{post.content}}" class="form-control"></textarea>
  </div>
  <div *ngIf="!currentUser || currentUser.id != post.user.id; else notAuthorized">
    <label><b>Người viết bài</b></label>
    <br>
    <input disabled type="text" value="{{post.user.username}}" class="form-control">
  </div>
  <ng-template #notAuthorized>
    <div hidden>
      <label><b>Người viết bài</b></label>
      <br>
      <input disabled type="text" value="{{post.user.username}}" class="form-control">
    </div>
  </ng-template>
  <div>
    <label><b>Ngày đăng bài</b></label>
    <br>
    <input disabled type="text" value="{{post.date}}" class="form-control">
  </div>
  <div>
    <label>Ảnh</label>
    <div *ngFor="let picture of post.pictures, index as i">
      <img src="{{picture.src}}" width="200px" height="150px">
    </div>
  </div>
  <br>
  <app-list-comment [currentPost]="post"></app-list-comment>
  <br>
  <fb-like></fb-like>
  <br>
  <br>
</div>

