<div *ngIf="post" class="container">
  <h1>Chi tiết bài viết</h1>
  <div>
    <label><b>Tiêu đề</b></label>
    <br>
    <input disabled type="text" value="{{post.title}}" class="form-control">
  </div>
  <div>
    <label><b>Nội dung</b></label>
    <br>
    <textarea disabled value="{{post.content}}" class="form-control"></textarea>
  </div>
  <div *ngIf="!currentUser || currentUser.id != post.user.id; else notAuthorized">
    <label><b>Người viết bài</b></label>
    <br>
    <input disabled type="text" value="{{post.user.username}}" class="form-control">
  </div>
  <ng-template #notAuthorized>
    <div hidden>
      <label><b>Người viết bài</b></label>
      <br>
      <input disabled type="text" value="{{post.user.username}}" class="form-control">
    </div>
  </ng-template>
  <div>
    <label><b>Ngày đăng bài</b></label>
    <br>
    <input disabled type="text" value="{{post.date | date: 'dd/MM/yyyy hh:mm'}}" class="form-control">
  </div>
  <div *ngIf="post.video">
    <label><b>Video</b></label>
    <br>
    <iframe width="560" height="315" [src]="src" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div *ngIf="post.pictures">
    <label><b>Ảnh</b></label>
    <div *ngFor="let picture of post.pictures, index as i">
      <img src="{{picture.src}}" width="200px" height="150px">
    </div>
  </div>
  <br>
  <app-list-comment [currentPost]="post"></app-list-comment>
  <br>
  <fb-like></fb-like>
  <br>
  <br>
</div>

