<!--<div *ngIf="post" class="container">
  <h1>Chi tiết bài viết</h1>
  <div>
    <label><b>Tiêu đề</b></label>
    <br>
    <input disabled type="text" value="{{post.title}}" class="form-control">
  </div>
  <div>
    <label><b>Nội dung</b></label>
    <br>
    <textarea disabled value="{{post.content}}" class="form-control"></textarea>
  </div>
  <div *ngIf="!currentUser || currentUser.id != post.user.id; else notAuthorized">
    <label><b>Người viết bài</b></label>
    <br>
    <input disabled type="text" value="{{post.user.username}}" class="form-control">
  </div>
  <ng-template #notAuthorized>
    <div hidden>
      <label><b>Người viết bài</b></label>
      <br>
      <input disabled type="text" value="{{post.user.username}}" class="form-control">
    </div>
  </ng-template>
  <div>
    <label><b>Ngày đăng bài</b></label>
    <br>
    <input disabled type="text" value="{{post.date | date: 'dd/MM/yyyy hh:mm'}}" class="form-control">
  </div>
  <div *ngIf="post.video">
    <label><b>Video</b></label>
    <br>
    <iframe width="560" height="315" [src]="src" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div *ngIf="post.pictures">
    <label><b>Ảnh</b></label>
    <div *ngFor="let picture of post.pictures, index as i">
      <img src="{{picture.src}}" width="200px" height="150px">
    </div>
  </div>
  <br>
  <app-list-comment [currentPost]="post"></app-list-comment>
  <br>
  <fb-like></fb-like>
  <br>
  <br>
</div>-->
<div *ngIf="post"  class="container" style="border: black solid 1px">
  <header class="col-md-12">
    <div class="post-user-name">
      <b><p style="font-size: larger">{{post.user.username}}</p></b>
    </div>
    <div class="post-time">
      <p style="font-size: x-small">{{post.date | date: 'dd/MM/yyyy hh:mm'}}</p>
    </div>
  </header>
  <div class="post-title pb-3">
    <p style="font-size: xx-large">{{post.title}}</p>
  </div>
  <div class="col-md-12 mb-2" align="center">
    <img [src]="[post.pictures[0].src]" width="200px" height="250px"/>
  </div>
  <div class="post-content pb-3">
    <p>{{post.content}}</p>
  </div>
  <div class="post-video pb-3" *ngIf="post.video">
    <iframe width="560" height="315" [src]="src" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="post-pictures pb-3" *ngIf="post.pictures">
    <div *ngFor="let picture of post.pictures, index as i" class="picture">
      <img src="{{picture.src}}" width="200px" height="150px">
    </div>
  </div>
  <app-list-comment [currentPost]="post"></app-list-comment>
  <br>
  <fb-like></fb-like>
</div>

