.body {
  background-image: url("../../assets/images/anhnendep3.jpg");
  width: 80%;
  margin: 0 auto;
}
.diary {
  color: white;
}
.table {
  color: white;
}
.col-sm-6 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.container {
  background-image: url("../../assets/images/anhnendep6.jpg");
}
