.body {
  background-image: url("../../assets/images/anhnendep3.jpg");
  width: 80%;
  margin: 0 auto;
}
.diary {
  color: white;
}
.table {
  color: white;
}

.container {
  background-image: url("../../assets/images/anhnendep6.jpg");
}

.card-body {
  margin: 0px;
}

.card {
  height: 230px;
}


