<!--
<div class = "body">
  <div class="container" *ngIf="currentUser; else loggedOut">
    <h1 class ="diary">Danh sách nhật kí</h1>
    <table class="table table-hover table-bordered">
      <thead>
      <td><b>Tiêu Đề</b></td>
      <td><b>Người đăng bài</b></td>
      </thead>
      <tr *ngFor="let post of postList">
        <td *ngIf="post.shareStatus == true || post.user.id == currentUser.id"><b><a [routerLink]="['/post-detail', post.id]">{{post.title}}</a></b></td>
        <td *ngIf="post.shareStatus == true || post.user.id == currentUser.id">{{post.user.username}}</td>
      </tr>
    </table>
  </div>
  <ng-template #loggedOut>
    <h1>Danh sách nhật kí</h1>
    <table class="table table-hover table-bordered">
      <thead>
      <td><b>Tiêu Đề</b></td>
      <td><b>Người đăng bài</b></td>
      </thead>
      <tr *ngFor="let post of postList">
        <td *ngIf="post.shareStatus == true"><b><a [routerLink]="['/post-detail', post.id]">{{post.title}}</a></b></td>
        <td *ngIf="post.shareStatus == true">{{post.user.username}}</td>
      </tr>
    </table>
  </ng-template>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col-sm-6" *ngFor="let post of postList">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          đăng bởi: <b><p class="card-text">{{post.user.username}}</p></b>
          <p class="card-text">{{post.date | date: 'dd/MM/yyyy hh:mm'}}</p>
          <a [routerLink]="['/post-detail', post.id]" class="btn btn-primary">Chi tiết bài viết</a>
        </div>
      </div>
    </div>
  </div>
</div>
