<div class="container" *ngIf="currentUser; else loggedOut">
  <h1 class="diarylist">Danh sách các bài viết của bạn</h1>
  <table class="table table-hover table-bordered">
    <thead>
    <td><b>Tiêu đề</b></td>
    <td><b>Ngày viết bài</b></td>
    <td><b>Trạng thái chia sẻ</b></td>
    <td><b>Chỉnh sửa</b></td>
    <td><b>Xóa</b></td>
    </thead>
    <tr *ngFor="let post of postList | paginate: {itemsPerPage: 10, currentPage: p}">
      <td *ngIf="post.user.username == currentUser.username"><b><a [routerLink]="['/post-detail', post.id]">{{post.title}}</a></b></td>
      <td *ngIf="post.user.username == currentUser.username">{{post.date | date: 'dd/MM/yyyy hh:mm'}}</td>
      <td *ngIf="post.user.username == currentUser.username">{{post.shareStatus ? 'Public' : 'Private'}}</td>
      <td *ngIf="post.user.username == currentUser.username"><a [routerLink]="['/post-edit/', post.id]">Chỉnh sửa</a></td>
      <td *ngIf="post.user.username == currentUser.username"><a [routerLink]="['/post-delete/', post.id]">Xóa</a></td>
    </tr>
  </table>
</div>
<ng-template #loggedOut>
  Hãy đăng nhập.
</ng-template>
<div align="center" class="mt-4">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
